body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Estica para cima conforme necessário */
    min-height: 100vh; /* Altura mínima de 100% da viewport */
    background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    margin: 0;
}
.container {
    text-align: center;
    background-color: #c5badf;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 530px; /* Aumentei para 800px para acomodar melhor o conteúdo */
    margin-bottom: 30px; /* Espaço abaixo para evitar que o conteúdo toque a parte inferior da tela */
    margin-top: 70px;
}

h1 {
    margin-bottom: 20px;
    color: #6a1270;
    font-size: 2em;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6a0572;
}

input, select {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
    border: 1px solid #3f0352;
    border-radius: 10px;
    transition: border 0.3s ease-in-out;
}

input:focus, select:focus {
    border-color: #6a0572;
}

button {
    padding: 10px 20px;
    background-color: #6f1875;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #500d66;
}

#diceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
}

.dice {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: linear-gradient(135deg, #6a0572, #ff00c8);
    color: #fff;
    border-radius: 10px;
    animation: roll 1s ease-in-out;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#results {
    margin-top: 20px;
}

#results p {
    margin: 5px 0;
    color: #6a0572;
    font-size: 1.2em;
}

.chart-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
